---
import NavLink from "./NavLink.astro";

export interface Props {
    currentPath?: string;
    bgColor: string;
    sticky?: boolean;
}

const { currentPath, bgColor, sticky } = Astro.props as Props;
---

<nav class={`${sticky && 'sticky top-0'} flex items-center gap-2 p-2 ${bgColor}`}>
    <NavLink text="Home" path="/" currentPath={currentPath} />
    <NavLink text="About me" path="/about-me" currentPath={currentPath} />
</nav>