---
export interface Props {
    text: string;
    path: string;
    currentPath: string;
}

const { text, path, currentPath } = Astro.props as Props;
---

{currentPath === path
? <p href={path} class="text-xl py-2 px-4 bg-slate-500 bg-opacity-50 rounded select-none">{text}</p>
: <a href={path} class="text-xl py-2 px-4 hover:bg-slate-500 hover:bg-opacity-50 rounded">{text}</a>
}