---
import PostCard from "./PostCard.astro";

export interface Props {
	posts: any;
}

const { posts } = Astro.props as Props;
---

<section class="posts-grid">
	{posts
	?.map(post =>
	<PostCard post={post} />)
	}
</section>

<style>
	.posts-grid {
		display: grid;
		gap: 2rem;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"firstPost firstPost";
	}

	.posts-grid *:first-child {
		grid-area: firstPost;
	}

	@media (max-width: 800px) {
		.posts-grid {
			display: grid;
			gap: 2rem;
			grid-template-columns: 1fr;
			grid-template-areas:
				"firstPost";
		}
	}
</style>