---
export interface Props {
    tags: string[];
}

const { tags } = Astro.props as Props;
---

{tags.length &&
<div class="flex flex-col">
    <h3 class="text-xl">Tags:</h3>
    <div class="flex gap-2">
        {tags.map(tag => (
        <a href={`/tag/${tag}`}>#{tag}</a>
        ))}
    </div>
</div>
}