---
import BaseHtml from '../layouts/BaseHtml.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
---

<BaseHtml title="mfiorek blog">
    <Navbar currentPath="/" bgColor="bg-emerald-800" />
    <Hero text="🥦 fior" bgColor="bg-emerald-800"/>
    <main>
        <slot />
    </main>
</BaseHtml>